.create-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 2rem auto 0 auto;
	width: 70%;
	gap: 2rem;

	div {
		width: 80%;
	}

	.title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p {
			font-size: 1.4rem;
		}

		.inputColor {
			font-size: 1.2rem;
		}
	}

	.setBlogStyleDiv {
		display: flex;
		flex-direction: row;
		gap: 1rem;

		.setHeaderImageDiv {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			p {
				margin: 0;
			}

			img {
				height: 2rem;
				margin: 1rem 0;

				&:hover {
					background-color: #dddddd;
					border-radius: 180px;
					transform: scale(1.1);
				}
			}

			.preview-image {
				width: 100%;
				height: 5rem;
				border: 5px dashed black;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}

			.selectImage {
				display: flex;
				width: fit-content;
				background-image: url('../plus.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				label {
					height: 2rem;
					width: 2rem;
					display: flex;
				}

				input[type="file"] {
					display: none;
				}
			}
		}

		.setHeaderColorDiv {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			p {
				margin: 0;
			}

			.colors {
				display: flex;
				justify-content: space-between;
				// display: grid;
				// grid-template-columns: auto auto auto auto auto;
				gap: 0.5rem;
				margin-top: 2rem;

				div {
					height: 5rem;
					transform: scaleY(1);
					transition: transform 0.1s linear;

					&:hover {
						transform: scaleY(1.3);
						transition: transform 0.1s linear;
					}
				}

				.colorFontDiv {
					.fontColor {
						height: 5rem;
						padding: 0;
						border: 0;
					}
				}
			}
		}
	}

	.contentDiv {
		display: flex;
		flex-direction: column;
		align-items: center;

		.inputColor {
			width: 80%;
			height: 10rem;
		}
	}
}

.inputColor {
	background-color: #fdf2fe;
	border: 0;
	width: 70%;
	height: 2rem;
	outline: none;
	padding: 1.4rem;
}

.previewDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}

.fontColor {
	display: flex;
	flex-direction: column;
	align-items: center;

	input {
		padding: 0;
	}
}


.publish {
	background-color: black;
	margin: 2rem;
	width: 10rem !important;
	color: #C23DE3;
	display: flex;
	justify-content: center;
	align-items: center;
}