header {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1rem #FFFF00 solid;

  .logo {
    max-height: 100%;
    border-bottom: 4px #C23DE3 dashed;
  }
  .logo:hover {
    border-bottom: 4px #C23DE3 solid;
    transition: border-bottom 10s linear;
  }

  .navLinks {
    list-style: none;
    display: flex;
    gap: 4rem;
    align-items: center;
    size: 1ch;
    li:hover {
      border-bottom: #C23DE3 4px solid;
      transition: 0.1s linear;
    }
  }

  .accountButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
    background-color: black;
    height: fit-content;
    padding: 0 1.5rem 0 1.5rem;
    .userIcon, p {
      color: white;
    }
  }
}

// hide hamburger menu by default and show in mediaqueries
.hamburger {
	display: none;
}

.navLinksMobile {
	display: none;
}